<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModSoundEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModSoundEditor.Properties.Settings>
            <setting name="MSEQuickBMS" serializeAs="String">
                <value />
            </setting>
            <setting name="MSEDivinitySound" serializeAs="String">
                <value />
            </setting>
            <setting name="MSESelectExported" serializeAs="String">
                <value />
            </setting>
            <setting name="MSEChooseWorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MSESetorWriteWizard" serializeAs="String">
                <value />
            </setting>
            <setting name="MSEMoveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MSEMoveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PFPrepareWave" serializeAs="String">
                <value />
            </setting>
            <setting name="PFPrepareWaveValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PFSelectFileWav" serializeAs="String">
                <value />
            </setting>
            <setting name="PFSelectCompareWew" serializeAs="String">
                <value />
            </setting>
            <setting name="PFSelectOrginal" serializeAs="String">
                <value />
            </setting>
            <setting name="PFSelectPrepareFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PFSelectSoundCasche" serializeAs="String">
                <value />
            </setting>
            <setting name="PFDoneFolderCasche" serializeAs="String">
                <value />
            </setting>
        </ModSoundEditor.Properties.Settings>
    </userSettings>
</configuration>